<shared-navbar/>

<section class="container mx-auto mt-10">
  <div class="md:flex md:flex-row md:space-x-6 md:items-center ml-5 my-5">
    <a routerLink="Pais" class="cursor-pointe bg-slate-800 text-white
    hover:bg-gray-200 hover:text-black px-4 py-5 w-40 rounded-md font-nunito">
      Buscar Paises
    </a>
    <a routerLink="Region" class="cursor-point bg-slate-800 text-white
    hover:bg-gray-200 hover:text-black px-4 py-5 w-40 rounded-md font-nunito">
      Buscar por region
    </a>
    <a routerLink="Todos-los-paises" class="cursor-point bg-slate-800 text-white
    hover:bg-gray-200 hover:text-black px-4 py-5 w-60 rounded-md font-nunito">
      Mostrar Todos los paises
    </a>
  </div>
  <router-outlet/>
</section>
