<shared-navbar />

<section class="container mx-auto mt-10 dark:bg-slate-800">
  <div
    class="md:flex md:flex-wrap space-y-2 md:space-y-0 md:space-x-6 md:items-center mx-5 my-5"
  >
    <a
      routerLink="Pais"
      class="cursor-pointer block bg-slate-800 text-white hover:bg-gray-200 hover:text-black p-2 md:px-4 md:py-5 md:w-36 rounded-md font-nunito"
    >
      Buscar Paises
    </a>

    <a
      routerLink="Region"
      class="cursor-pointer block bg-slate-800 text-white hover:bg-gray-200 hover:text-black p-2 md:px-4 md:py-5 md:w-40 rounded-md font-nunito"
    >
      Buscar por region
    </a>

    <a
      routerLink="Todos-los-paises"
      class="cursor-pointer block bg-slate-800 text-white hover:bg-gray-200 hover:text-black p-2 md:px-4 md:py-5 md:w-40 rounded-md font-nunito"
    >
      Todos los paises
    </a>
  </div>
  <router-outlet />
</section>
