<section class="mt-5">
  <div class="relative md:inline-block text-left">
    <button
      (click)="toggleDropdown()"
      class="px-4 py-5 w-40 mt-5 mx-5 bg-slate-800 font-nunito rounded-lg text-white shadow    cursor-pointer"
    >
      Filter by region
    </button>

    @if (isOpen()) {
    <div
      class="absolute mt-2 w-48 bg-white border border-gray-300 shadow-lg rounded-lg transition-opacity duration-300"
      [class.opacity-100]="isOpen()"
      [class.opacity-0]="!isOpen()"
    >
      <ul class="py-2">
        @for (region of regions; track region) {
        <li
          (click)="selectRegion.set(region)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
        >
          {{ region }}
        </li>
        }
      </ul>
    </div>
    }
  </div>
</section>

<section class="mt-10">
  @if (countryResources.hasValue()) {
  <countries-card-countries
    [cardCountries]="countryResources.value() ?? []"
    [errorMessage]="countryResources.error()"
    [isEmpty]="countryResources.value()?.length === 0"
    [isLoading]="countryResources.isLoading()"
  />
  }
</section>
